CE_IMAGE=windddkz/huawei_vrp:ce12800-8.180
CORE_IMAGE=mrja/campus-core01:ce12800-8.180
AGG_IMAGE=mrja/campus-agg01:ce12800-8.180
ACCESS11_IMAGE=mrja/campus-access11:ce12800-8.180
ACCESS12_IMAGE=mrja/campus-access12:ce12800-8.180
CLAB_VERSION=0.68.0
VRNETLAB_REF=2025.06
SNMP_COMMUNITY=librenms-lab
