COMPOSE_PROJECT_NAME=librenms
TZ=Asia/Shanghai
PUID=1000
PGID=1000

LIBRENMS_IMAGE=librenms/librenms:26.5.1
LIBRENMS_CUSTOM_IMAGE=librenms-custom:local
WEB_PORT=8000
APP_URL=http://localhost:8000

DB_DATABASE=librenms
DB_USERNAME=librenms
DB_PASSWORD=librenms
DB_TIMEOUT=60

DISPATCHER_NODE_ID=dispatcher-1

SNMPTRAP_PORT=162
SNMP_TRAP_COMMUNITY=public
SNMP_EXTRA_MIB_DIRS=/opt/librenms/mibs/huawei

SYSLOG_PORT=514

OXIDIZED_IMAGE=oxidized/oxidized:0.29.1
OXIDIZED_PORT=8888
OXIDIZED_CONFIG_RELOAD_INTERVAL=600
OXIDIZED_USERNAME=admin
OXIDIZED_PASSWORD=change-me
OXIDIZED_API_TOKEN=replace-with-librenms-api-token
